.course-box {
    border: 3px black;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .course-box h1 {
    margin-top: 0;
  }
  
  .course-box img {
    width: 100px;
    height: 100px; /* Ensure the image maintains its aspect ratio */
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .course-box button {
    margin-bottom: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .course-box button:hover {
    background-color: #0056b3;
  }
  
  
  
/* CSS for FAQ section */
.faq-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .faq-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .faq-question {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
    color: #333;
  }
  
  .faq-answer {
    font-size: 16px;
    color: #666;
    display: none;
  }
  
  .faq-answer.show {
    display: block;
  }
  
  .faq-question:hover {
    color: #007bff; /* Change color on hover */
  }
  
  /* Style for the dropdown icon */
  .faq-icon {
    float: right;
    margin-top: -3px;
  }
  
  /* Animation for dropdown icon */
  .rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
  }
  