/* styles.css */

/* Global styles for the admin page */
.admin-page {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.admin-page h1 {
  font-size: 24px;
}

.admin-page h2 {
  font-size: 20px;
  margin-top: 20px;
}

.admin-page ul {
  list-style-type: none;
  padding: 0;
}

.admin-page li {
  margin-bottom: 5px;
}

.admin-page input[type="text"] {
  padding: 8px;
  font-size: 16px;
}

.admin-page button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.admin-page button:hover {
  background-color: #0056b3;
}

/* Styles for the admin table */
.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.admin-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.admin-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.admin-table tbody tr:hover {
  background-color: #ddd;
}

.admin-table img {
  max-width: 100px;
}

/* Styling for the welcome section */
.welcome-section {
  height: 100vh; /* Fill the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('https://cdn.pixabay.com/photo/2016/03/26/13/12/pencils-1280558_1280.jpg'); /* Replace 'path/to/your/image.jpg' with the path to your background image */
  background-size: cover; /* Cover the entire section */
  background-position: top left; /* Set background position to top left */
  color: #fff; /* Text color */
  margin-left: -200px;
  margin-top: -20px;
  margin-right: -20px;
}

/* Additional styles for text */
.welcome-section h1 {
  font-size: 48px; /* Adjust the font size as needed */
}
/*  */

/* Styling for the student table */
.student-table {
  width: 100vw; /* Set width to cover entire viewport */
  margin: 0 auto; /* Center the table horizontally */
  overflow: hidden; /* Hide overflow */
}

.student-table th,
.student-table td {
  padding: 12px;
  border: 1px solid #ddd;
}

.student-table th {
  background-color: #4CAF50;
  color: white;
  text-align: left;
}

.student-table td {
  text-align: center;
}

.student-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.student-table tbody tr:hover {
  background-color: #ddd;
}
