.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: white;
    
  }
  
  .login-page h1 {
    font-size: 24px;
    color: #000; 
    margin-bottom: 20px;
  }
  .login-page p{
    font-size: small;
    text-align: center;
    
  }
  
  .login-page form {
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 4px 8px black;  
    
    width: 300px; 
    /* border-top: ;   */
  }
  
  .login-page label {
    font-weight: normal;
    color: black; 
  }
  
 
  
  .login-page .error {
    color: red;
    margin-top: 10px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }
  
  .login-button:hover {
    background-color: goldenrod; 
  }
  
  .login-page p {
    font-size: 14px;
    color: black; 
    margin-top: 10px;
  }
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    display: flex;
    
  }
  
  h2 {
    text-align: center;
  }
  
  .google-button {
    background-color: #4285f4;
    color: #fff;
  }
  
  .facebook-button {
    background-color:#4285f4;
    color: #fff;
  }
  
  .google-button,
  .facebook-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .google-button:hover,
  .facebook-button:hover {
    color: black;
    opacity: 0.5;
  }
  .login-page input[type="text"],
  /* .login-page input[type="password"], */
  .login-page input[type="email"] {
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 0px;
    /* box-shadow: 2px 2px 8px black; */
    border: 1px solid;
  }
  .login-page input[type="password"]{
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 0px;
    border: 1px solid;
  }

  
.login-left {
    flex: 1;
  }
  
  .login-right {
    flex: 1;
  }
  .login-background-image {
    background-image: url('https://login.niit.com/auth/resources/qird6/login/niitlogin/img/banner.jpg');
    background-size: cover;
    background-position:right;
    position: fixed;
    top: 0;
    left: 0;
    /* right: px; */
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure it stays behind other elements */
    opacity: 0.5; /* Adjust the opacity as needed */
  }
  